[submodule "Discord4J"]
	path = Discord4J
	url = git@github.com:tumugin/Discord4J.git
[submodule "discord-json"]
	path = discord-json
	url = https://github.com/Discord4J/discord-json.git
[submodule "Stores"]
	path = Stores
	url = https://github.com/Discord4J/Stores.git
